<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>Arrrrrrr!</title>

    </head>
    <body>

        <h1> Ahoy Pirates!</h1>

        <ul>
            <li>
                <a href="http://127.0.0.1:5000/pirate/" target="_blank">Greet a pirate!</a>
            </li>

            <li>
                <a href="http://127.0.0.1:5000/decks/" target="_blank">All hands on deck!</a>
            </li>

            <li>
                <p>What is this Postman?!</p>
            </li>

            <li>
                <a href="http://127.0.0.1:5000/booty" target="_blank">Get that booty!</a>
            </li>
        </ul>



    </body>
</html>
