<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>Gimme the booty</title>

    </head>
    <body>

        <h1> Get that booty </h1>

        <form action="" method="post">
            {{ form.csrf }}

            <div class="input text">
                {{ form.name.label }} {{ form.name }}
            </div>

            <div class="input submit">
                <input type="submit" value="Submit" />
            </div>
        </form>

          {% if error_message %}
              <h5>  {{ error_message }} </h5>
          {% endif %}

          {% if all_departments %}
            <h5> Available Department Names </h5>
            <ul>
              {% for department in all_departments %}
                <li> {{ department }} </li>
              {% endfor %}
            </ul>

          {% endif %}


          {% if department_booty %}
            <h5> Department Booty: </h5>
            <ul>
              {% for booty in department_booty %}
                <li> {{ booty }} </li>
              {% endfor %}
            </ul>

          {% endif %}


    </body>
</html>
